    <nav>
        <ul>
            <li>
                <a href=" ">home</a>
                
            </li>
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">Tasks</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">registers</a>
            {% endif %}
            <li>
                <a href="{% url 'signin' %}">signin</a>
            </li>
        </ul>
    </nav>

{% block content %}
{% endblock %}