{% extends 'layouts/navbar.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Task/style.css' %}">

<div class="task-container">


    {% for task in tasks %}
    <div class="task-card {% if task.done %}done{% endif %}">
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <p><strong>Proyecto:</strong> {{ task.project.name }}</p>
        <div class="actions">
            <form action="{% url 'tasks_delete' task.id %}" method="post">
                {% csrf_token %}
                <button class="btn-delete" type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta tarea?')">🗑 Eliminar</button>
            </form>
            <button class="btn-update">
            <a href="{% url 'tasks_edit' task.id %}">✏ Editar</a>    
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
