{% extends 'layouts/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% for task in tasks %}
    <button>
        <a href="/tasks/create">Crear tarea</a>
    </button>
    <div>
        <h1>{% if task.done == False %} 🕑 {% else %} ✅ {% endif %}{{task.title}}</h1>
        <p>{{task.description}}</p>
        <p>Project: {{task.project.name}}</p>
        <button>Delete</button>
        <button>Update</button>
    </div>
    {% endfor %}
    {% endblock %}
</body>
</html>