{% extends 'layouts/navbar.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Task/style.css' %}">

<div class="task-container">
    <a class="btn-create" href="{% url 'create_task' %}">➕ Crear tarea</a>

    {% for task in tasks %}
    <div class="task-card {% if task.done %}done{% endif %}">
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <p><strong>Proyecto:</strong> {{ task.project.name }}</p>
        <div class="actions">
            <button class="btn-delete">🗑 Eliminar</button>
            <button class="btn-update">✏ Editar</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
